<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--#coms-309-hv-5.cs.iastate.edu/apedatabase Teamhv_5#, #localhost:3307/apedatabase 
	root Xm980621# -->
<generatorConfiguration>
	<context id="DB2Tables" targetRuntime="MyBatis3">
		<!-- Database url, username, password -->
		<jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3307/apedatabase" userId="root"
			password="Xm980621">
			<property name="nullCatalogMeansCurrent" value="true" />
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- Generate a path for DataObject Class -->
		<javaModelGenerator
			targetPackage="com.Ape.dataObject" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!-- Generate a path for mapping -->
		<sqlMapGenerator targetPackage="mapping"
			targetProject="src/main/resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!-- Generate a path for Dao Class -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.Ape.dao" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- Generate tables and their DataObject Class -->
		<table tableName="users" domainObjectName="DO_Users"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false"></table>
	</context>
</generatorConfiguration>